
<!-- mat-elevation-z8 -->
<div class="table-container">
  <div *ngIf="loading" class="loader"></div>
  <table mat-table [dataSource]="dataSource">
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> TITLE </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Environment Column -->
    <ng-container matColumnDef="environment">
      <th mat-header-cell *matHeaderCellDef> ENVIRONMENT </th>
      <td mat-cell *matCellDef="let element"> {{element.environment}} </td>
    </ng-container>

    <!-- STATUS Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> STATUS </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- CREATION DATE Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef> CREATED </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.creationDate">{{element.creationDate.toDate() || '' | date : 'mediumDate'}}</span>
      </td>
    </ng-container>

    <!-- UPDATE DATE Column -->
    <ng-container matColumnDef="updateDate">
      <th mat-header-cell *matHeaderCellDef> UPDATED </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.updateDate">{{element.updateDate.toDate() | date : 'mediumDate' }}</span>
      </td>
    </ng-container>

    <!-- ACTIONS Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button (click)="navigateToIssue(element.id)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
