/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-row {
  height: auto!important;
}

.mat-cell {
  padding: 8px 8px 8px 0!important;
}


.loader {
  position: absolute;
  border-radius: 50%;
  border: 8px solid rgb(64, 109, 160);
  border-right-color: #f3f3f3;
  border-left-color: #f3f3f3;
  width: 50px;
  height: 50px;
  left: 538px;
  top: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
